// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// -------------------------------------------------------------

.btn-iniciarsesion {
  background-color: #f7943d;
  color: #ffffff !important;
  border: none;
  border-radius: 40px; /* Bordes redondeados */
  padding: 10px 20px;
  font-weight: 100;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn-iniciarsesion:hover {
  background-color: #E06B00;
  color: #ffffff !important;
}

.btn-registrarse {
  background-color: #f7943d;
  color: #ffffff !important;
  border: none;
  border-radius: 40px; /* Bordes redondeados */
  padding: 10px 20px;
  font-weight: 100;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn-registrarse:hover {
  background-color: #E06B00;
  color: #ffffff !important;
}

.btn-olvidastecontraseña {
  color: #f7943d;
  padding: 10px 20px;
  font-weight: 100;
  display: inline-block;
  text-align: center;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn-olvidastecontraseña:hover {
  color: #E06B00 !important;
}
